body{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: Arial;
}

.balloon{
	width: 100px;
	height: 200px;
	top: 100vh;
	position: absolute;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.balloon-red{
	background-image: url(images/balloon-red.png);
}
.balloon-yellow{
	background-image: url(images/balloon-yellow.png);
}
.balloon-blue{
	background-image: url(images/balloon-blue.png);
}
.balloon-violet{
	background-image: url(images/balloon-violet.png);
}
.balloon-green{
	background-image: url(images/balloon-green.png);
}

.total-shadow{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	/*display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	position: relative;
}

.total-block{
	padding: 10px 100px 40px;
	text-align: center;
	background: rgba( 255, 255, 255, 0.6 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 10.5px );
	-webkit-backdrop-filter: blur( 10.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.lose{
	display: none;
}
.win{
	display: none;
}

.score-block{
	background: #efefef;
	width: 300px;
	height: 80px;
	/*display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 20px 20px 0 0;
	position: absolute;
	bottom: 0;
	left: calc(50% - 150px);
background: #f6efef;
box-shadow:  15px 15px 88px #626060,
             -15px -15px 88px #ffffff;
}
.start-game-window {
	width: 400px;
	height: 120px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center; 
	line-height: 25px;
	border-radius: 34px;
	background: #e0e0e0;
	box-shadow: inset 22px 22px 44px #cecece,
				inset -22px -22px 44px #f2f2f2;
	
}
.start-game-button{
	font-size: 14px;
	background-color:white ;
	padding: 5px 22px;
  	text-align: center;
	  border-radius: 5px;
}
.start-game-button:hover{
	background-color: black;
	color: white;
}
